.button {
    color: #fff !important;
    text-decoration: none;
    background: #2979FF;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    font-family: 'Roboto', sans-serif;
    width: auto;
}

.button2 {

    font-family: 'Roboto', sans-serif;
    width: auto;
    height: auto;
    text-align: center;
    line-height: 10px; 
    color: #fff;
    font-size: 15px;
    letter-spacing: 0px;
    background: linear-gradient(90deg, #7b2df7, rgb(166, 84, 221), rgb(59, 30, 139), #c871eb, #68156b, #4209ff,#7b2df7);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}

@keyframes gradi
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}

.button2:hover
{
    animation: gradi 8s linear infinite;
}

